<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Доступ запрещён</title>
    <link rel="stylesheet" href="/css/navigation.css"/>
    <link rel="stylesheet" href="/css/error.css" />
</head>
<body>

<div th:replace="~{user/fragments/userNavigation :: userNavigation}"></div>

<div class="error-container">
    <h1>403 - Доступ запрещён</h1>
    <p>У вас нет доступа к этой странице</p>
    <a href="/" class="button">На главную</a>
</div>

</body>
</html>