body {
    font-family: "Roboto", "Arial", sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 2.5rem;
}

.container {
    max-width: 1200px;
    margin: 2rem auto; /* Центрируем и сверху/снизу отступ */
    padding: 0 1.5rem;  /* Горизонтальные отступы слева и справа */
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1.5rem;
}

.movie-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  text-decoration: none;
  color: inherit; /* чтобы цвет текста не менялся */
}

.movie-card > a {
  text-decoration: none;
  color: inherit; /* чтобы цвет не изменялся */
  display: block; /* чтобы ссылка занимала весь блок, а не была inline */
  text-align: center;
}

.movie-card:hover {
  transform: translateY(-5px);
}

.movie-poster-wrapper {
  width: 100%;
  aspect-ratio: 2/3; /* фиксируем соотношение сторон (ширина 2, высота 3) */
  overflow: hidden;
  border-bottom: 1px solid #eee;
}

.movie-poster {
  width: 100%;
  height: 100%;
  object-fit: cover; /* заполнить контейнер, сохраняя обрезку */
  display: block;
}

.movie-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.75rem 1rem;
  color: #2c3e50;
}