<!-- fragments/admin-navbar.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="adminNavbar">
    <div class="logo"><a href="/admin">Админ-Панель</a></div>
    <ul class="nav-links">
        <li><a href="/admin/movies" id="movies-link">Фильмы</a></li>
        <li><a href="/admin/halls">Залы</a></li>
        <li><a href="/admin/sessions">Сеансы</a></li>
        <li><a href="/admin/bookings">Бронирования</a></li>
        <li><a href="/schedule">CinemaBooking</a></li>
    </ul>
</nav>
</body>
</html>